.hero {
  padding-block: 123px;

  .wrapper {
    height: 100%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-video {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    video {
      width: 400px;
      max-width: 400px;
    }
  }
  .hero-text {
    margin-top: -60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button-container {
      display: flex;
      gap: 1rem;
      button {
        height: 42px;
        width: 148px;
      }
      .color-button {
        background-color: #04ddb2;
        outline: 0;
        border: 0;
        border-radius: 99vh;
        color: white;
      }
    }
  }
}
.section-2,
.section-3 {
  .wrapper {
    margin: 32px 24px;
    padding-block: 32px;
  }
}
.section-2,
.section-4,
.section-5 {
  background-color: #f2f3f5;
}
.section-2 {
  .section-2-image {
    margin-block: 48px;
  }
  .description {
    .box {
      display: flex;
      gap: 1rem;
      .box-icon {
        img {
          min-width: 40px;
          width: 40px;
          border-radius: 12px;
        }
      }
    }
  }
}
