.color-header {
  color: #04ddb2;
}
.hero {
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  .wrapper {
    height: 100%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hero-video {
    display: block;
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    video {
      width: 400px;
      max-width: 400px;
      visibility: visible;
      object-fit: contain;
    }
  }
  .hero-text {
    margin-top: -80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button-container {
      display: flex;
      gap: 1rem;
      button {
        height: 42px;
        width: 148px;
      }
      .color-button {
        background-color: #04ddb2;
        outline: 0;
        border: 0;
        border-radius: 99vh;
        color: white;
      }
      .transparent-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: #04ddb2;
      }
    }
  }
}
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
footer {
  .wrapper {
    padding: 32px 24px;
    padding-block: 32px;
  }
}

.section-2,
.section-4,
.section-5 {
  background-color: #f2f3f5;
}
.section-2 {
  .section-2-image {
    margin-block: 48px;
  }
  .description {
    .box {
      display: flex;
      gap: 1rem;
      .box-icon {
        img {
          min-width: 40px;
          width: 40px;
          border-radius: 12px;
        }
      }
    }
  }
  .tip-cards {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 2rem;

    .card {
      min-width: 272px;
      width: 272px;
      min-height: 290px;
      background-color: white;
      border-radius: 24px;
      padding: 24px;
      .card-img {
        display: flex;
        justify-content: center;
        img {
          width: 60%;
        }
      }
      .status-color {
        margin: 0 auto;
        width: max-content;
        padding-inline: 1rem;
        border-radius: 99vh;
        background-color: #04ddb2;
        color: white;
      }
      .status {
        margin: 0 auto;
        width: max-content;
        padding-inline: 1rem;
        border-radius: 99vh;
        background-color: #eef0f2;
        color: #333;
      }
    }
  }
}
.section-3 {
  .video-container {
    display: flex;
    justify-content: center;
    img {
      width: 600px;
      max-width: 600px;
    }
  }
}
.section-4 {
  .text-container {
    .color-greenish {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: #04ddb2;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .testimonial-container {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    .testimonial-card {
      background-color: white;
      width: 272px;
      min-width: 272px;
      height: 450px;
      border-radius: 15px;
      padding: 24px;
    }
  }
}
.section-4 {
  .bubbles {
    position: relative;
    height: 500px;
  }
  .media-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-content: stretch;
    height: 100%;

    .media-box:nth-of-type(1) {
      position: absolute;
      left: 50px;
      top: 40px;
      figure {
        margin: 0;
        display: flex;
        background-color: rgb(255, 153, 0);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(2) {
      position: absolute;
      left: 0px;
      top: 250px;
      figure {
        margin: 0;
        background-color: rgb(255, 209, 1);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(3) {
      position: absolute;
      left: 120px;
      top: 350px;
      figure {
        margin: 0;
        background-color: rgb(23, 195, 123);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(4) {
      position: absolute;
      left: 175px;
      top: 175px;
      figure {
        margin: 0;
        background-color: rgb(0, 137, 214);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(5) {
      position: absolute;
      top: 0;
      left: 275px;
      figure {
        margin: 0;
        background-color: rgb(51, 51, 51);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(6) {
      position: absolute;
      left: 275px;
      top: 300px;
      figure {
        margin: 0;
        background-color: rgb(134, 75, 255);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    .media-box:nth-of-type(7) {
      left: 350px;
      top: 150px;
      figure {
        margin: 0;
        background-color: rgb(14, 56, 177);
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }
    }
    // .media-box:nth-of-type(8) {
    //   figure {
    //     background-color: rgb(252, 60, 45);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(9) {
    //   figure {
    //     background-color: rgb(4, 221, 178);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(10) {
    //   figure {
    //     background-color: rgb(36, 35, 35);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(11) {
    //   figure {
    //     background-color: rgb(225, 0, 0);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(12) {
    //   figure {
    //     background-color: rgb(167, 187, 195);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(13) {
    //   figure {
    //     background-color: rgb(250, 202, 12);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    // .media-box:nth-of-type(14) {
    //   figure {
    //     background-color: rgb(229, 75, 75);
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 20px;
    //   }
    // }
    .media-box {
      position: absolute;
    }
  }
}
.section-5 {
  .carousel-slider-right,
  .carousel-slider-left {
    .slide-track {
      display: flex;
      gap: 1rem;
      width: calc(300px * 16);
      animation: scroll-left 180s linear infinite;
      .slide {
        height: 190px;
        width: 280px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
    }
  }
  .carousel-slider-right {
    animation: scroll-left 120s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 8));
    }
  }
}
.section-6 {
  .text-container {
    text-align: center;
  }
  .button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .color-button {
      background-color: #04ddb2;
      outline: 0;
      border: 0;
      border-radius: 99vh;
      color: white;
      width: 149px;
      height: 40px;
    }
  }
}
footer {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-about,
  .footer-general,
  .footer-resources,
  .footer-sc {
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  .footer-about,
  .footer-general,
  .footer-resources {
    ul {
      li:nth-of-type(1) {
        font-weight: bold;
      }
    }
  }
  .flex-row-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-sc {
    .sc-icon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #04ddb2;
    }
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
