.color-header {
  color: #04ddb2;
}
.hero {
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  .wrapper {
    height: 100%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hero-video {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      width: 400px;
      max-width: 400px;
    }
  }
  .hero-text {
    margin-top: -120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button-container {
      display: flex;
      gap: 1rem;
      button {
        height: 42px;
        width: 148px;
      }
      .color-button {
        background-color: #04ddb2;
        outline: 0;
        border: 0;
        border-radius: 99vh;
        color: white;
      }
      .transparent-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: #04ddb2;
      }
    }
  }
}
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
footer {
  .wrapper {
    padding: 32px 24px;
    padding-block: 32px;
  }
}

.section-2,
.section-4,
.section-5 {
  background-color: #f2f3f5;
}
.section-2 {
  .section-2-image {
    margin-block: 48px;
  }
  .description {
    .box {
      display: flex;
      gap: 1rem;
      .box-icon {
        img {
          min-width: 40px;
          width: 40px;
          border-radius: 12px;
        }
      }
    }
  }
  .tip-cards {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 2rem;

    .card {
      min-width: 272px;
      width: 272px;
      min-height: 290px;
      background-color: white;
      border-radius: 24px;
      padding: 24px;
      .card-img {
        display: flex;
        justify-content: center;
        video {
          width: 60%;
        }
      }
      .status-color {
        margin: 0 auto;
        width: max-content;
        padding-inline: 1rem;
        border-radius: 99vh;
        background-color: #04ddb2;
        color: white;
      }
      .status {
        margin: 0 auto;
        width: max-content;
        padding-inline: 1rem;
        border-radius: 99vh;
        background-color: #eef0f2;
        color: #333;
      }
    }
  }
}
.section-3 {
  .video-container {
    display: flex;
    justify-content: center;
    video {
      width: 600px;
      max-width: 600px;
    }
  }
}
.section-4 {
  .text-container {
    .color-greenish {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: #04ddb2;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .testimonial-container {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    .testimonial-card {
      background-color: white;
      width: 272px;
      min-width: 272px;
      height: 450px;
      border-radius: 15px;
      padding: 24px;
    }
  }
}
.section-5 {
  .video-container {
    display: flex;
    justify-content: center;
    video {
      width: 600px;
      max-width: 600px;
    }
  }
}
footer {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-about,
  .footer-general,
  .footer-resources,
  .footer-sc {
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  .footer-about,
  .footer-general,
  .footer-resources {
    ul {
      li:nth-of-type(1) {
        font-weight: bold;
      }
    }
  }
  .flex-row-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-sc {
    .sc-icon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #04ddb2;
    }
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
