footer {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: 900px) {
      gap: 4rem;
      flex-direction: row-reverse;
      padding: 60px 80px;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    }
    .footer-mobile {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media screen and (min-width: 650px) {
        display: none;
      }

      .footer-about,
      .footer-general,
      .footer-resources,
      .footer-sc {
        display: flex;
        justify-content: center;
        text-align: center;

        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }
      }
      .footer-about,
      .footer-general,
      .footer-resources {
        ul {
          li:nth-of-type(1) {
            font-weight: bold;
          }
        }
      }
      .flex-row-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
      .footer-sc {
        justify-content: flex-end;
        .sc-icon {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: #04ddb2;
        }
      }
      .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }
    .footer-desktop {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      @media screen and (max-width: 650px) {
        display: none;
      }

      .footer-about,
      .footer-general,
      .footer-resources,
      .footer-sc {
        display: flex;
        justify-content: center;
        text-align: center;

        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }
      }
      .footer-about,
      .footer-general,
      .footer-resources {
        ul {
          li:nth-of-type(1) {
            font-weight: bold;
          }
        }
      }
      .flex-row-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
      .footer-sc {
        justify-content: flex-end;
        .sc-icon {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: #04ddb2;
        }
      }
      .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }
  }
}
