header {
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: 400ms ease-in;

  .wrapper {
    height: 80px;
    padding: 16px 24px;
    display: flex;
    @media screen and (max-width: 800px) {
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 800px) {
      align-items: center;
    }
  }
  .logo {
    svg {
      width: auto;
      height: 22px;
    }
  }
}
